header .nav_wrap {
    display: flex;
    position: relative;
    height: 64px;
    background-color: #ff6347;
    width: 100%;
}

header .nav {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 24px;
    background-color: inherit;
}

header .nav ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

header .nav li {
    margin-left: 32px;
}

header .nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 8px 8px;
    color: #fff;
    transition: all 0.3s;
}

header .nav li:hover {
    position: relative;
    background: #c0392b;
    border-radius: 8px;
}

header .nav li:active {
    background: #c0392b;
    border-radius: 8px;
    top: 2px;
}

header .nav .site_title {
    display: flex;
    padding: 0px;
    font-size: 36px;
}

/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
    border: none;
    outline: none;
    color: #fff;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    padding: 8px 8px;
    width: 120px;
}

.dropdown:hover .dropbtn {
    position: relative;
    background: #c0392b;
    border-radius: 8px 8px 0px 0px;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #c0392b;
    width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0px 0px 8px 8px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #ff6347;
    border-radius: 8px;
}
