/* General button style */
.btn {
    display: flex;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: inherit;
    padding: 8px;
    transition: all 0.3s;
}

.btn:hover {
    position: relative;
    background: #c0392b;
    border: none;
    border-radius: 8px;
}

.btn:active {
    background: #c0392b;
    top: 2px;
}