/* Profile style */

.profile {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    max-width: 800px;
    height: 478px;
    width: 75%;
    padding: 16px;
    margin: 16px auto;
    font-size: 20px;
    overflow: scroll;
    border-radius: 16px;
}

.profile h2 {
    margin: 0px 0px 16px 0px;
}

.profileCard {
    display: flex;
    flex-direction: row;
    height: inherit;
}

.profileCard .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 250px;
    gap: 8px;
}

.profileCard .createdAt {
    margin-top: auto;
}

.avatar {
    width: 250px;
    height: 250px;
    border-radius: 8px;
    margin: 0px;
    align-self: flex-end;
    object-fit: cover;
}

.profileCard .column .buttons {
    align-self: flex-end;
    margin-top: auto;
}

.profileCard .buttons .btn {
    width: 250px;
    margin: 16px 0px 0px 0px;
}