footer {
    display: flex;
    position:relative;
    bottom: 0;
    height: 64px;
    background-color: #ff6347;
    color: #fff;
    width: 100%;
}

.footer-main {
    display: flex;
    align-items: center;
    max-width: 1200px;
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    font-size: 20px;
    background-color: inherit;
}
