main {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    min-height: 96vh;
}

/* Post style */

.post {
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    max-width: 800px;
    width: 75%;
    padding: 16px;
    margin: 16px auto;
    gap: 16px;
    font-size: 20px;
    overflow: scroll;
    border-radius: 16px;
}
.post h1 {
    margin: 0px;
    font-weight: 500;
    font-size: 36px;
}

.post h2 {
    margin: 0px;
}

/* General button style */
.btn {
    display: flex;
    background: #ff6347;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: inherit;
    font-family: inherit;
    padding: 8px;
    transition: all 0.3s;
    justify-content: center;
}

.btn:hover {
    position: relative;
    background: #c0392b;
    border: none;
    border-radius: 8px;
}

.btn:active {
    background: #c0392b;
    top: 2px;
}

/* Cancel button style */
.btnCancel {
    display: flex;
    background: #d0d0d0;
    color: #000;
    border: none;
    border-radius: 8px;
    font-size: inherit;
    font-family: inherit;
    padding: 8px;
    transition: all 0.3s;
    justify-content: center;
}

.btnCancel:hover {
    position: relative;
    background: #f2f3f2;
    border: none;
    border-radius: 8px;
}

.btnCancel:active {
    background: #c0392b;
    border: none;
    top: 2px;
}

input {
    display: flex;
    background-color: #f2f3f2;
    border: solid 1px;
    border-color: #ff6347;
    border-radius: 8px;
    font-size: inherit;
    font-family: inherit;
    padding: 7px;
}

input:hover {
    background-color: #fff;
}

input:focus {
    background-color: #fff;
}
